@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--affine-v2-layer-background-secondary);
}
body {
  padding: 8px !important;
}
