@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--affine-v2-layer-insideBorder-border, currentColor);
  }
}

@theme {
  --text-secondary: var(--affine-v2-text-secondary);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  background-color: var(--affine-v2-layer-background-secondary);
}
body {
  padding: 8px !important;
  transition: padding 0.2s ease;
}
body.sidebar-open {
  padding-left: 0px !important;
}
