@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--affine-v2-layer-insideBorder-border, currentColor);
  }
}

@theme {
  --text-primary: var(--affine-v2-text-primary);
  --text-secondary: var(--affine-v2-text-secondary);
  --text-tertiary: var(--affine-v2-text-tertiary);
  --color-primary: var(--affine-v2-button-primary);
  --shadow-view: 0px 1px 5px rgba(0, 0, 0, 0.05);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  background-color: var(--affine-v2-layer-background-secondary);
}
body {
  padding: 8px !important;
  transition: padding 0.2s ease;
}
body.sidebar-open {
  padding-left: 0px !important;
}

.with-cursor::after {
  content: '';
  display: inline-block;
  width: 0.5em;
  height: 1em;
  background: currentColor;
  vertical-align: middle;
  animation: blink-cursor 1s steps(1) infinite;
  transform: translateY(-2px);
}

.with-cursor p {
  display: inline-block;
}

@keyframes blink-cursor {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
